<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="public/js/react.js"></script>
	<script src="public/js/react-dom.js"></script>
	<script src="public/js/browser.min.js"></script>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>

<div id="content"><%-component%></div>

<script src="public/js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="public/js/base.js"></script>

<script type="text/babel">
var socket = io.connect("");


var Content = React.createClass({
	getInitialState:function(){
		this.update();
		return {
			text:"",
			child:[]
		}
	},
	update:function(){
		var _self = this;
		socket.on("friendNews",function(data){
			_self.state.child.push(data);
			_self.setState({child:_self.state.child})
		});
	},//初始挂起链接

	setData:function(event){
		this.setState({text:event.target.value});
	},//textarea更改数据

	emitThing:function(){
		this.setState({text:""});
		this.refs.textareaObj.value = "";
		socket.emit("addFriendNews",{name:this.props.name,text:this.state.text});
	},//发送消息
	
	render:function(){
		return (
			React.createElement("div",{className:"chatroomBox"},
				React.createElement("div",{id:"status",className:"chatroomTop"},
					React.createElement("ul",{},
						this.state.child.map(function(todo,index){
							return (
								React.createElement("li",{key:index},
									React.createElement("div",{className:"chatImgBox"},
										React.createElement("img",{"src":todo.avatar},null)
									),
									React.createElement("div",{className:"chatRightBox"},
										React.createElement("div",{className:"chatName"},todo.name),
										React.createElement("div",{className:"chatText"},todo.text)
									)
								)
							)
						})
					)
				),
				React.createElement("div",{className:"chatroomBottom"},
					React.createElement("textarea",{className:"textContent",onChange:this.setData,ref:"textareaObj",defaultValue:this.state.text}),
					React.createElement("button",{type:"button",onClick:this.emitThing},"提交")
				)
			)
		)
	}
})

ReactDOM.render(
	<div>
		<Content name="<%- name%>" />
	</div>,
	document.getElementById("content")
)
</script>
</body>
</html>