<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="public/js/react.js"></script>
	<script src="public/js/react-dom.js"></script>
	<script src="public/js/browser.min.js"></script>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>

<div id="content"><%-component%></div>

<script src="public/js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script type="text/babel" >
var Content = React.createClass({
	getInitialState:function(){
		return {
			friendList:[]
		}
	},
	showPopUp:function(event){
		this.refs.popUp.style.display = "block";
		this.setState({index:event.target.dataset.index})
	},//显示弹出框
	verification:function(){
		var _self = this;
		var thisData = {};
		thisData.aims = this.state.friendList[this.state.index].first_name;
		thisData.value = this.refs.verificationValue.value;
		console.log(this.state.friendList,this.state.index,thisData)
		$.ajax({
			type:"GET",
			url:"http://localhost:1024/verification",
			dataType:"json",
			data:thisData, 
			success:function(data){
				switch(data){
					case 200:
						console.log("发送成功");
						break;
					case 2:
						console.log("请求重复");
						break;
					case 3:
						console.log("无法给自己发送请求");
						break;
				}
				_self.refs.verificationValue.value = "";
				_self.refs.popUp.style.display = "none";
			}
		})
	},//发送验证消息
	findFriend:function(){
		var _self = this;
		$.ajax({
			type:"GET",
			url:"http://localhost:1024/findFriend",
			dataType:"json",
			data:{val:_self.refs.friendName.value},
			success:function(data){
				_self.state.friendList = data;
				_self.setState({friendList:_self.state.friendList});
			}
		})
	},//查找好友
	clone:function(){
		this.refs.popUp.style.display = "none";
	},
	render:function(){
		var _self = this;
		return (
			React.createElement("div",{},
				React.createElement("div",{className:"friendBox"},
					React.createElement("div",{className:"friendTop"},
						React.createElement("input",{ref:"friendName"},null),
						React.createElement("button",{type:"button",onClick:this.findFriend,id:"friend_find"},"查找好友")
					),
					React.createElement("ul",{className:"friendAddList"},
						this.state.friendList.map(function(todo,index){
							if(todo.relation){
								return (
									React.createElement("li",{key:index},
										React.createElement("div",{className:"friendAdd_avatarBox"},
											React.createElement("img",{src:todo.avatar},null)
										),
										React.createElement("div",{className:"friendAdd_info"},
											React.createElement("div",{className:"friendAdd_name"},todo.first_name)
										),
										React.createElement("div",{className:"friendAdd_already"},"已是好友")
									)
								)
							}else{
								return (
									React.createElement("li",{key:index},
										React.createElement("div",{className:"friendAdd_avatarBox"},
											React.createElement("img",{src:todo.avatar},null)
										),
										React.createElement("div",{className:"friendAdd_info"},
											React.createElement("div",{className:"friendAdd_name"},todo.first_name)
										),
										React.createElement("button",{type:"button",className:"friendAdd_submit","data-index":index,onClick:_self.showPopUp},"添加好友")
									)
								)
							}
						})
					)
				),
				React.createElement("div",{className:"popUpBox",ref:"popUp"},
					React.createElement("div",{className:"popUp_titleBox"},
						React.createElement("span",{className:"popUp_title"},"验证消息"),
						React.createElement("span",{className:"clone",onClick:this.clone},"x")
					),
					React.createElement("div",{className:"popUpBox_main"},
						React.createElement("input",{type:"text",ref:"verificationValue"},null),
						React.createElement("button",{type:"button",onClick:this.verification},"提交")
					)
				)
			)
		)
	}
})

ReactDOM.render(
	<Content />,
	document.getElementById("content")
)
</script>
</body>
</html>