<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="public/js/react.js"></script>
	<script src="public/js/react-dom.js"></script>
	<script src="public/js/browser.min.js"></script>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>

<div id="content"><%-component%></div>

<script src="public/js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script type="text/babel" >
var Content = React.createClass({
	render:function(){
		return (
			React.createElement("div",{className:"friendBox"},
				React.createElement("div",{className:"friendTop"},
					React.createElement("a",{href:"javascript:;"},"消息中心"),
					React.createElement("a",{href:"addFriend"},"添加好友")
				),
				React.createElement("ul",{className:"friendList"},
					React.createElement("li",{},"列表")
				)
			)
		)
	}
})

ReactDOM.render(
	<div>
		<Content />
	</div>,
	document.getElementById("content")
)
</script>
</body>
</html>