<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="public/js/react.js"></script>
	<script src="public/js/react-dom.js"></script>
	<script src="public/js/browser.min.js"></script>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>

<div id="content"><%-component%></div>

<script src="public/js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="public/js/base.js"></script>
<script type="text/babel" >
var Content = React.createClass({
	render:function(){
		return (
			React.createElement("div",{className:"homeBox"},
				React.createElement("div",{id:"status",className:"home_status"},this.props.status),
				React.createElement("a",{href:"registered",className:"home_registered"},"注册"),
				React.createElement("a",{href:"login",className:"home_login"},"登录"),
				React.createElement("a",{href:"form",className:"home_avatar"},"头像设置"),
				React.createElement("a",{href:"chatroom",className:"home_avatar"},"聊天室"),
				React.createElement("a",{href:"friend",className:"home_avatar"},"好友列表"),
				React.createElement("a",{href:"cancelLogin",className:"outLogin"},"退出登录")
			)
		)
	}
})

ReactDOM.render(
	<div>
		<Content status="<%- status%>" />
	</div>,
	document.getElementById("content")
)
</script>
</body>
</html>