<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="public/js/react.js"></script>
	<script src="public/js/react-dom.js"></script>
	<script src="public/js/browser.min.js"></script>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>

<div id="content"><%-component%></div>
<script src="public/js/jquery.min.js"></script>

<script type="text/babel" >
var Content = React.createClass({
			agree:function(event){
				$.ajax({
					type:"GET",
					url:"http://localhost:1024/news/agreeFriend",
					data:{id:event.target.dataset.id}, 
					success:function(data){
						//window.location.reload();
						console.log(data)
					}
				})
			},
			refuse:function(event){
				console.log(event.target.dataset.id);
				$.ajax({
					type:"GET",
					url:"http://localhost:1024/news/refuseFriend",
					data:{id:event.target.dataset.id}, 
					success:function(data){
						window.location.reload();
						console.log(data)
					}
				})
			},
			render:function(){
				var _self = this;
				return (
					React.createElement("div",{className:"newsBox"},
						React.createElement("dl",{className:"news_list"},
							React.createElement("dt",{className:"news_title"},
								React.createElement("span",{},"消息中心")
							),
							this.props.newsList.map(function(todo,index){
								return (
									React.createElement("dd",{key:index},
										React.createElement("div",{className:"news_avatar"},
											React.createElement("img",{src:todo.avatar},null)
										),
										React.createElement("div",{className:"news_info"},
											React.createElement("span",{className:"news_name"},todo.first_name),
											React.createElement("span",{className:"news_id"},todo.id)
										),
										React.createElement("div",{className:"news_verification"},todo.value),
										React.createElement("div",{className:"news_buttons"},
											React.createElement("button",{className:"news_agree","data-id":todo.id,onClick:_self.agree},"同意"),
											React.createElement("button",{className:"news_refuse","data-id":todo.id,onClick:_self.refuse},"拒绝")
										)
									)
								)
							})
						)
					)
				)
			}
		})

ReactDOM.render(
	<div>
		<Content newsList = {JSON.parse('<%-news%>')} />
	</div>,
	document.getElementById("content")
)
</script>

</body>
</html>