*{margin:0;padding: 0;}
a{text-decoration: none;}
input:focus,button:focus{
	outline: none;
}
button{
	cursor: pointer;
}
li{list-style: none;}
.homeBox,.chatroomBox{
	width: 400px;
	min-height: 200px;
	margin:250px auto 0;
	border:1px solid #fe8534;
	border-radius: 6px;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
}
.home_status{
	color: #fcaf17;
	font-size: 36px;
	margin:30px 0 30px;
}
.home_registered{}
.home_login{}
.home_avatar{}
.outLogin{}
.home_login,.home_registered,.home_avatar,.login_btn,.avatarSubmit{
	display: block;
	padding:0 10px;
	width: 200px;
	margin:0 auto 20px;
	height: 40px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 6px;
	font-size: 18px;
	color: #fcaf17;
	background: none;
	border:1px solid #fcaf17;
}
.home_login:hover,.home_registered:hover,.home_avatar:hover,.login_btn:hover,.avatarSubmit:hover{
	background: #fe8534;
	color: #fff;
}
.outLogin{
	position: absolute;
	right: 15px;
	top: 15px;
	color: #fe8534;
}
.login_name{margin-top: 40px;}
.login_name,.login_password{
	display: block;
	margin-bottom: 14px;
}
.login_name span,.login_password span{
	display: inline-block;
	width: 64px;
	text-align: right;
	margin-right: 10px;
	color: #fcaf17;
}
.login_name input,.login_password input{
	border:none;
	border-bottom: 1px solid #fcaf17;
	height: 24px;
	padding-left: 6px;
	width: 166px;
	color: #fe8534;
}
.login_btn{
	margin-top: 30px;
}

.avatarBox{
	width: 400px;
	min-height: 200px;
	margin:250px auto 0;
	border:1px solid #fe8534;
	border-radius: 6px;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
}
.imgBox{
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 120px;
	text-align: center;
	overflow: hidden;
	border:1px solid #fcaf17;
	margin:30px auto 15px;
}
.imgBox img{
	max-width: 120px;
	max-height: 120px;
	vertical-align: middle;
}
.imgBox span{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.uploadBox{
	display: block;
	position: relative;
	margin-bottom: 10px;
}
.uploadBox span{
	display: inline-block;
	width: 64px;
	text-align: right;
	margin-right: 10px;
	color: #fcaf17;
}
.uploadBox input{
	opacity: 0;
	position: absolute;
	width: 76px;
	height: 34px;
}
.uploadBox button{
	width: 76px;
	height: 34px;
	background: #fcaf17;
	color: #fff;
	border-radius: 4px;
	border:none;
}
.avatarSubmit{}
.chatroomBox{
	margin:86px auto 0;
	width: 800px;
	height: 800px;
}
.chatroomTop{
	height: 650px;
	border-bottom: 1px solid #fe8534;
	font-size: 20px;
}
.chatroomTop li{
	text-align: left;
	width: 760px;
	margin: 5px auto;
	overflow: hidden;
	margin-bottom: 10px;
}
.chatroomBottom{
	height: 150px;
}
.chatroomBottom textarea{
	width: 498px;
	height: 110px;
	border:none;
	padding:10px;
	margin:13px 0 0 15px;
	color: #fff;
	font-size: 23px;
	background: #fe8534;
	float: left;
	border-radius: 10px;
}
.chatroomBottom button{
	width: 224px;
	height: 130px;
	background: #fe8534;
	border:none;
	color: #fff;
	float: right;
	margin:13px 10px 0 0;
	border-radius: 10px;
	font-size: 30px;
}
.chatImgBox{
	float: left;
	width: 40px;
	height: 40px;
	border:1px solid #fe8534;
	overflow: hidden;
	border-radius: 40px;
	margin-right: 10px;
}
.chatImgBox img{
	width: 40px;
	height: 40px;
}
.chatRightBox{
	float: left;
}
.chatName{
	font-size: 16px;
	color: #666;
	margin-bottom: 6px;
}
.chatText{
	width: 400px;
	background:#ffcdac;
	padding:6px 10px;
	border-radius: 6px;
	color: #333;
}


